@import './base.css';

#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  background-color: #3fbc6a;
  color: yellow;
  padding: 15px;
  margin-top: 1em;
  margin-bottom: 0;
  text-align: center;
  border-top: 3px solid #2a9451;
  border-bottom: 3px solid #2a9451;
}

h2 {
  font-size: 3.5vw;
  letter-spacing: 0.6vw;
}

body {
  background-color: #81b8ce;
  font-size: 1em; /* Keep font size in em for better responsiveness */
}

.head_picture {
  height: 8vh; /* Adjusted height to 8% of viewport height */
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.5vh; /* Adjusted margin to 1.5% of viewport height */
}

.button {
  width:150px;
  height:45px;
  border-radius: 3.125em;
  background-color: #3fbc6a;
  border: 0.1875em solid #2a9451;
  color: yellow;
  text-align: center;
  text-decoration: none;
  padding: 1.25vw; /* Adjusted padding to 1.25% of viewport width */
  display: flex;
  justify-content: center;
  align-items: center;  
  font-size: 18px;
}


.button:hover {
  background-color: darkgreen;
  cursor: pointer;
}

.back {
  line-height: 35px; 
  background-color: #81b8ce;
  border: 3px solid #234e5f; 
  text-align: center;
  color: #234e5f;
  font-weight: bold;
  display: inline-block;
  width:150px;
  height:45px;
  font-size: 18px; 
  text-decoration: none;
  border-radius: 40px; ; 
  
}

.back:hover {
  background-color: whitesmoke;
  cursor:pointer; 
}


@media only screen and (max-width: 2532px) and (orientation: portrait) {
  .head_picture{
    height: 60px; 
    margin: 10px;
  }

  h1 {
    font-size: 24px;
  }
}

