@import './base.css';

#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1 {
  background-color: green;
  color: yellow;
  padding: 15px;
  margin-top: 1em;
  margin-bottom: 0%;
  text-align: center;
}

body {
  background-color: #81b8ce;
}

.head_picture {
  position: absolute;
  padding-left: 15em;
  height: 85px;

}