@import './base.css';

#app {
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  background-color: #3fbc6a;
  color: yellow;
  padding: 15px;
  margin-top: 1em;
  margin-bottom: 0;
  text-align: center;
  border-top: 3px solid #2a9451;
  border-bottom: 3px solid #2a9451;
}

h2 {
  font-size: 3.5vw;
  font-family: monospace;
  letter-spacing: 0.6vw;
}

body {
  background-color: #81b8ce;
  font-family: monospace;
  font-size: 1em; 
}

.head_picture {
  height: 8vh; 
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.5vh; 
  height: 60px; 
}

.button {
  width:150px;
  height:45px;
  border-radius: 40px;
  background-color: #3fbc6a;
  border: 0.1875em solid #2a9451;
  color: yellow;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-size: 18px;
  padding: 1.25vw;
  white-space: nowrap;
}
.button:hover {
  background-color: darkgreen;
  cursor: pointer;
}
.back {
  width:150px;
  height:45px;
  border-radius: 40px;  
  background-color: #81b8ce;
  border: 0.1875em solid #234e5f; 
  color: #234e5f;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center; 
  font-size: 18px; 
}

.back:hover {
  background-color: whitesmoke;
  cursor:pointer; 
}

.custom-alert {
  position: fixed;
  top: 30%;
  left: 50%; /*Placerar objektet så dess vänsterkant börjar 50% in i skärmen från vänster */
  transform: translate(-50%); /*Flyttar objektet 50% av sin egna längd åt vänster (så den i vårt fall blir centrerad)*/
  background-color: whitesmoke; 
  border: 3px solid red;
  border-radius: 20px;
  padding: 2em 2em 0 2em;
  box-shadow: 5px 5px 20px 5px rgb(131, 131, 131); /* (5px, 5px) hur centrerad, (20px) blurret, (5px) hur långt skuggan ska sträcka sig*/
  z-index: 9999; /* Högre z-värde = lägs ovanför element med lägr z-värde*/
  text-align: center;
  font-weight: bold;
  color: #234e5f; 
  font-size: large;
}

.alert-content {
  background-color: whitesmoke;
}

.closeButton{
  float: right;
  background-color: red;
  color: whitesmoke;
  text-decoration: underline;
  font-weight: bolder;
  margin-top: 3em;
  margin-bottom: 0.5em;
}


@media only screen and (max-width: 2532px) and (orientation: portrait) {
  .head_picture{
    height: 50px; 
    margin: 10px;
  }
  h1 {
    font-size: 24px;
  }
  .custom-alert{
    left: 10%;
    transform: translate(-5%); 
  }
  .back {
    background-color: rgba(236, 236, 236, 0);
  }
  .button {
    white-space: wrap;
  }
}

